@import '../less/constant.less';

.header {
    display: flex;
}

.menuSearch {
    display    : flex;
    width      : @width;
    align-items: center;
}

.Icon {
    display    : flex;
    color      : @color;
    align-items: center;
}

.imageFloweraura {
    display  : flex;
    min-width: @min-width;
}

.twoIconLast {
    display    : flex;
    align-items: center;
}

.imageFlower {
    max-width: @max-width;
    width    : @imgWidth ;
}

.cake {
    min-height: @min-height;
}

.star-rating {
    display    : flex;
    margin-left: @margin-left;
}

.review {
    margin-top: @margin-top;
}

.totalReview {
    color        : #199100;
    border-bottom: 1px solid;
    margin-left  : @margin-left;
    cursor       : pointer;
    font-weight  : @font-weight;
}

.chocolate {
    margin-left: @margin-left;
}

.priceNumber {
    margin-left: @margin-left;

}

.currency {
    font-size: @font-size;
}

.price {
    font-size: @font-size;
}

.cake-weight {
    margin-left: -24px;
    margin-top : 6px;
}

.active {
    padding            : 9px 17px;
    margin             : 0 10px 0 0;
    font-size          : 12px;
    border-radius      : 4px;
    cursor             : pointer;
    background-color   : #fff;
    font-weight        : 700;
    display            : inline-block;
    border             : 1px solid #888;
    // border-color    : #199100;
    // color           : #199100;
}

.weight-normal {
    padding         : 9px 17px;
    margin          : 0 10px 0 0;
    font-size       : 12px;
    border-radius   : 4px;
    cursor          : pointer;
    background-color: #fff;
    font-weight     : 700;
    display         : inline-block;
    border          : 1px solid #888;

}

.select-weight {
    font-size    : 12px;
    font-weight  : 400;
    line-height  : normal;
    color        : rgba(28, 33, 32, .5);
    margin-bottom: 5px;
    margin-left  : @margin-left;
}

.label {
    font-size    : 12px;
    line-height  : normal;
    color        : rgba(28, 33, 32, .5);
    margin-bottom: 5px;
    margin-left  : @margin-left;
}

.input-design {
    width        : 95%;
    border       : 1px solid rgba(0, 0, 0, .5);
    padding      : 8px 15px;
    font-size    : 16px;
    height       : 34px;
    border-radius: 5px;
    font-family  : Lato;
    color        : rgba(28, 33, 32, .5);
    margin-left  : @margin-left;
    margin-top   : @margin-top;
}

.description {
    margin-top  : 5px;
    //width     : 100%;
    text-align  : right;
}

.limitCharacters {
    font-size  : 12px;
    color        : rgba(28, 33, 32, .5);
}