@import '../less/constant.less';

.header {
    display: flex;
}

.menuSearch {
    display    : flex;
    width      : @width;
    align-items: center;
}

.Icon {
    display    : flex;
    color      : @color;
    align-items: center;
}

.imageFloweraura {
    display  : flex;
    min-width: @min-width;
}

.twoIconLast {
    display    : flex;
    align-items: center;
}

.imageFlower {
    max-width: @max-width;
    width    : @imgWidth ;
}

.cake {
    min-height: @min-height;
}

.star-rating {
    display    : flex;
    margin-left: @margin-left;
}

.review {
    margin-top: @margin-top;
}

.totalReview {
    color        : #199100;
    border-bottom: 1px solid;
    margin-left  : @margin-left;
    cursor       : pointer;
    font-weight  : @font-weight;
}

.chocolate {
    margin-left: @margin-left;
}

.priceNumber {
    margin-left: @margin-left;

}

.currency {
    font-size: @font-size;
}

.price {
    font-size: @font-size;
}

.cake-weight {
    margin-left: -24px;
    margin-top : 6px;
}

.active {
    padding            : 9px 17px;
    margin             : 0 10px 0 0;
    font-size          : 12px;
    border-radius      : 4px;
    cursor             : pointer;
    background-color   : #fff;
    font-weight        : 700;
    display            : inline-block;
    border             : 1px solid #888;
    // border-color    : #199100;
    // color           : #199100;
}

.weight-normal {
    padding         : 9px 17px;
    margin          : 0 10px 0 0;
    font-size       : 12px;
    border-radius   : 4px;
    cursor          : pointer;
    background-color: #fff;
    font-weight     : 700;
    display         : inline-block;
    border          : 1px solid #888;

}

.select-weight {
    font-size    : 12px;
    font-weight  : 400;
    line-height  : normal;
    color        : rgba(28, 33, 32, .5);
    margin-bottom: 5px;
    margin-left  : @margin-left;
}

.addForm {
    padding: 0 16px;
}

.label {
    font-size    : 12px;
    line-height  : normal;
    color        : rgba(28, 33, 32, .5);
    margin-bottom: 5px;
}

.input-design {
    width        : 97%;
    border       : 1px solid rgba(0, 0, 0, .5);
    padding      : 8px 15px;
    font-size    : 16px;
    height       : 34px;
    border-radius: 5px;
    font-family  : Lato;
    color        : rgba(28, 33, 32, .5);
    margin-top   : @margin-top;
}

.description {
    margin-top: 5px;
    text-align: right;
}

.limitCharacters {
    font-size: 12px;
    color    : rgba(28, 33, 32, .5);
}

.checkboxPrice {
    margin: 0 0 16px;
}

.label-checkbox {
    padding-left: 12px;
    color       : black;
}

.checkBox {
    border        : 1px solid;
    height        : 20px;
    width         : 20px;
    display       : inline-block;
    vertical-align: middle;
    border-radius : 3px;
    margin-top    : -2px;
}

.dotIcon {
    border        : 1px solid #1a9102;
    height        : 15px;
    width         : 15px;
    display       : inline-block;
    vertical-align: middle;
    margin-left   : 15px;
}

.circle {
    color : green;
    height: 14px;
    width : 14px;
}

.selectDate-input {
    width        : 97.5%;
    padding      : 16px;
    margin       : 16px 0 0;
    background   : #fff;
    border-bottom: 2px solid #ccc;
}

.search-select {
    margin        : 0 0 10px;
    font-family   : Lato;
    font-size     : 14px;
    font-weight   : 400;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    color         : #888;
}

.serach-inputBox {
    position: relative;
}

.searh-input {
    width         : 98%;
    display       : block;
    border        : 1px solid #ccc;
    line-height   : 24px;
    margin        : 0;
    border-radius : 4px;
    padding       : 8px 15px;
    outline       : none;
    font-size     : 16px;
    font-weight   : 400;
    font-stretch  : normal;
    font-style    : normal;
    letter-spacing: normal;
    color         : #1c2120;
}

.showdateIcon {
    display   : inline-block;
    height    : 32px;
    width     : 32px;
    background: no-repeat url(/sites/default/files/ssr/static/media/calender.40cab376.svg);
    position  : absolute;
    right     : 0;
    top       : 9px;
}